.App {
  text-align: center;
  font-size: 16px;
}

.appContent {
  width:  500px;
  margin:  auto;
}

.UserInfo, .Errors {
  margin-bottom: 20px;
}

.header {
  font-weight: bold;
  font-size: 28px;
}

.subheader {
  font-weight: bold;
  font-size: 20px;
}

.label {
    font-weight: bold;   
    margin-right: 5px;
}